body{
  display: flex;
  justify-content: center;
  background: grey;
}

#content{
  position: relative;
  top: 10px;
  width: 500px;
  height: 500px;
/*  background: white; */
}

#sidepanel{
  left: 450px;
  position: relative;
  width: 150px;
  height: 450px;
  background: #666666;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#antena1{
  top: 259px;
  left: 155px;
  position: relative;
  width: 10px;
  height: 200px;
  background: #000000;
  transform: rotate(-45deg);
}

#antena1knob{
  top: -16px;
  left: -5px;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #000000;
}

#antena2{
  top: 59px;
  left: 330px;
  position: relative;
  width: 10px;
  height: 200px;
  background: #000000;
  transform: rotate(45deg);
}

#antena2knob{
  top: -16px;
  left: -5px;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #000000;
}

#outline{
  top: 25px;
  left: 25px;
  position: relative;
  width: 450px;
  height: 450px;
  background: #303030;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#screen{
  top: -108px;
  right: 475px;
  position: relative;
  width: 385px;
  height: 385px;
  border-radius: 8px;
  background: #000000; /* black */
}

#screen2{
  top: -248px;
  right: 475px;
  position: relative;
  width: 385px;
  height: 385px;
  border-radius: 8px;
  background: #FFFFFF; /* white */
}

@keyframes colorChange {

  0% {background: red; }

  33% {background: green; }

  66% {background: blue; }

  100% {background: red; }

}

@keyframes onAndOff {

  0% {background: black; }

  100% {background: white; }

}

#button1{
  top: -330px;
  left: 510px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  background: #000000;
}

#text{
  top: -35px;
  right: 5px;
  font-size: 18px;
  position: relative;
}

#button1:hover{
  background: #cccccc;
}

#button1:active #screen{
  animation: onAndOff 3s 1;
  background: white;

}

#button1:not(:active) #screen{
  background: #FFFFFF;
}

#button2{
  top: -230px;
  left: 510px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  background: #000000;
}

#text2{
  top: 60px;
  right: 10px;
  font-size: 18px;
  position: relative;
}

#button2:hover{
  background: #cccccc;
}

#button2:active #screen2{
  animation: colorChange 10s infinite;
}

#button2:not(:active) #screen2{
  visibility: hidden;
}
